// Body
$body-font-size: 16px;

// Navbar
$navbar-background-color: #fff;

// Sidebar
$sidebar-background-color: #003961;
$sidebar-active-color: #00406D;
$sidebar-font-size-smaller: 0.75em;

// Content
$content-background-color: #F0F0F7;
