<!-- <div *ngIf="miningComplex$ | async as miningComplex; else loadingError"> -->
<div *ngIf="miningComplex; else loadingError">
  <h2>{{ miningComplex.nome }} | Agenda</h2>

  <div class="calendar">
    <p-fullCalendar #calendar [events]="events" [options]="options"></p-fullCalendar>
  </div>
</div>


<p-dialog
  [header]="dialogTitle"
  [(visible)]="displayDialog"
  [modal]="true"
  [style]="{width: '50vw'}"
  [maximizable]="false"
  [baseZIndex]="10000"
  [draggable]="true"
  [resizable]="false"
  >

  <app-event-form
    [event]="currentEvent"
    [equipments]="equipmentsList"
    (eventEmit)="receiveEvent($event)"
  >
  </app-event-form>

  <p-footer>
    <button class="btn btn-secondary btn-min" (click)="closeDialog()">Fechar <i class="fas fa-times"></i></button>
    <!-- <button class="btn btn-info" (click)="displayDialogEquipments=false">Confirmar</button> -->
  </p-footer>
</p-dialog>


<ng-template #loadingError>
  <div class="flex">
    <div class="flex-item">
      <div class="card card-height-100">
        <div class="card-body">
          <div *ngIf="error$ | async; else loading">
            <app-error></app-error>
          </div>
          <ng-template #loading>
            <app-loading></app-loading>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</ng-template>
