@import '../../../../assets/scss/variables';

h6 {
  font-weight: 700;
  margin-bottom: 20px;
  margin-top: -20px;
  color: #6c757d;
}

.error-content {
  width: 100%;
  text-align: center;
  margin-top: 40px;
  padding: 0 10px;
}
