<div class="equipment-container">
  <p-accordion *ngIf="categories$ | async as categories">
    <p-accordionTab *ngFor="let category of categories" [disabled]="category.ativos.length === 0">
      <p-header>{{ category.nome }} ({{ category.ativos.length }})</p-header>

        <p-dataView #dvAssets [value]="category.ativos" [paginator]="true" [rows]="4" paginatorPosition="bottom" layout="grid" emptyMessage="Nenhum item">

          <ng-template let-asset pTemplate="gridItem">
              <div style="padding:.5em" class="p-col-12 p-md-3">
                  <p-panel [style]="{'text-align':'center'}">
                    <p-header [style]="{'height':'60px', 'font-size':'.7rem'}">
                       {{ asset.descricao }} (<strong>{{asset.quantidade - btn.value}}</strong> disponíveis)
                    </p-header>

                    <div class="input-group">
                      <input
                      #btn
                       type="number"
                       class="form-control"
                       min="0" [max]="asset.quantidade"
                       [attr.aria-describedby]="'button-addon' + category.id + '_' + asset.id"
                      >
                      <div class="input-group-append">
                        <button
                          class="btn btn-info"
                          type="button"
                          [id]="'button-addon' + category.id + '_' + asset.id"
                          (click)="addEquipment(asset.id, asset.descricao, btn.value)"
                          >
                          <!-- [disabled]="btn.value === '' || btn.value === '0'" -->
                          <i class="fas fa-check"></i>
                        </button>
                      </div>
                    </div>

                  </p-panel>
              </div>
          </ng-template>
        </p-dataView>

    </p-accordionTab>
  </p-accordion>
</div>
